@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);
* {
  font-family: 'Spoqa Han Sans Neo', 'sans-serif';
}

/* AppBar */
h3.logo {
  font-family: 'Roboto';
  font-size: 1.125rem;
}

.v-toolbar__content {
  border-bottom: 1px solid #e7e7e7 !important;
}

header .btns a {
  font-size: 13px !important;
}

/* InputLabel */
.label-title {
  font-size: 1rem;
  letter-spacing: -0.01rem;
  font-weight: 500;
}

.label-desc {
  font-size: 0.75rem;
  letter-spacing: -0.01rem;
}


/* Item Page*/
.item-img{
  cursor: pointer;
}

.item-title {
  font-size: 17px;
  line-height: 1.3;
  letter-spacing: -0.01rem;
}

.price{
  font-weight: 500;
}

.price-origin{
text-decoration: line-through;
font-size: 0.875rem;
line-height: 1rem;
}

/* Common */
.v-btn {
  letter-spacing: 0.01rem !important;
}

footer > div {
  border-top: 1px solid #efefef;
}


/* Media Query */
@media screen and (max-width: 768px) {
  h2.page-title {
    font-size: 1.375rem;
  }
}

@media screen and (min-width: 960px) {
  .item {
    margin-left: 230px;
    width: calc(100% - 260px);
  }
}