@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);
* {
  font-family: 'Spoqa Han Sans Neo', 'sans-serif';
}

/* AppBar */
h3.logo {
  font-family: 'Roboto';
  font-size: 1.125rem;
}

.v-toolbar__content {
  border-bottom: 1px solid #e7e7e7 !important;
}

header .btns a {
  font-size: 13px !important;
}

/* InputLabel */
.label-title {
  font-weight: 500;
}

.label-desc {
  font-size: 0.75rem;
  letter-spacing: -0.01rem;
}

.v-btn {
  letter-spacing: 0.01rem !important;
}

footer > div {
  border-top: 1px solid #efefef;
}
